<h1>Markers list</h1>
<%= link_to 'Add marker', '/marker/add' %>
<% @markers.each do |marker| %>
    <p>
        <div>
            <%= image_tag marker.url %>
            <%= marker.id %>
        </div>
    </p>
<% end %>
