<h1>Stock List</h1>
<table>
    <tr>
      <th>Item Name</th>
      <th>Volume</th>
      <% if current_user.admin_flag? %>
      <th></th>
      <% end %>
    </tr>
    <% @stocks.each do |stock| %>
        <tr>
          <td style='width:200px;'>
            <div style='width:200px; overflow-x:scroll;'>
              <%= Item.find(stock.item_id)[:name] %>
            </div>
          </td>
          <td style='width:200px;'>
            <div style='width:200px; overflow-x:scroll;'>
              <%= stock.volume %>
            </div>
          </td>
          <td><%= link_to 'update', { :controller => :stocks, :action => :update, :id => stock.id } %></td>
        </tr>
    <% end %>
</table>
