<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.user_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'update', '/user/update' %></td>
      <td><%= link_to 'delete', '/user/delete' %></td>
    </tr>
  <% end %>
</table>